numpy
pandas
matplotlib
scikit-image
scipy
imageio
tqdm
cython
mmcv==0.4.4
torch>=1.9.0
torchvision>=0.10.0
pypng
opencv-python
tqdm
natsorted
Pillow
albumentations == 0.5.2
pebble
argparse
tensorboardX
blessings
progressbar2
selectivesearch
torch_snippets
